<nav 
  class="flex flex-wrap items-center justify-between py-2 sm:py-6 font-display vw-900"
  x-data="navigation()"
>

	<div 
    class="relative z-20 flex items-center flex-shrink-0 mr-6 text-inherit hover:text-{{hover}} nav-logo"
    :class="{ 'text-night hover:text-white': isOpen() }"
    >
    <a href="/" title="Home" class="text-3xl tracking-tighter vw-900">
      AM
    </a>
	</div>

	<div class="block lg:hidden" x-on:click="isOpen() ? close() : open()">
		<button 
      
      class="relative z-20 flex items-center text-inherit hover:text-{{hover}}"
      :class="{ 'transition transform transform-180 text-night hover:text-white': isOpen() }"
    >
      {{ svg('@svg/menu.svg')|attr({class: 'w-9 h-9 fill-current'}) }}
		</button>
	</div>

	<div 
    class="absolute top-0 left-0 z-10 flex flex-col w-full h-screen px-4 pt-32 overflow-hidden bg-froly text-inherit motion-safe:animate-fade-in lg:animation-none lg:pt-0 lg:px-0 lg:relative lg:bg-transparent lg:h-auto lg:flex lg:items-center lg:w-auto lg:text-center"
    :class="{ 'block text-night opacity-100 hover:text-white': isOpen(), 'hidden': !isOpen() }"
  >
		<div class="text-6xl lg:text-lg lg:text-center lg:flex-grow ">
      <a href="{{ url() }}" class="block mt-4 opacity-0 motion-safe:animate-fade-in-right animation-forwards lg:mr-4 lg:inline-block lg:opacity-100 lg:animation-none lg:mt-0 hover:text-{{hover}}">
				Home
			</a>
			<a href="{{ url('blog') }}" class="block mt-4 opacity-0 motion-safe:animate-fade-in-right animation-forwards animation-delay-100 lg:animation-none lg:opacity-100 lg:mr-4 lg:inline-block lg:mt-0 hover:text-{{hover}}">
				Blog
			</a>
      <a href="{{ url('about') }}" class="block mt-4 opacity-0 motion-safe:animate-fade-in-right animation-forwards animation-delay-200 lg:animation-none lg:opacity-100 lg:mr-4 lg:inline-block lg:mt-0 hover:text-{{hover}}">
				About
			</a>
			{# <a href="/today-i-learned" class="block mt-4 lg:mr-4 lg:inline-block lg:mt-0 hover:text-{{hover}}">
				TIL
			</a> #}
			<a href="{{ url('contact') }}" class="block mt-4 opacity-0 motion-safe:animate-fade-in-right animation-forwards animation-delay-300 lg:animation-none lg:opacity-100 lg:mr-4 lg:inline-block lg:mt-0 hover:text-{{hover}}">
				Contact
			</a>
		</div>
	</div>

  {# <div
    class="mx-auto mt-4 lg:block" 
    :class="{ 'block': isOpen(), 'hidden': !isOpen() }"
    @click.away="isOpen() = false"
    x-show.transition.origin.top.right="true"
  >
    <button class="text-inherit hover:text-{{hover}}">
      {{ include('_includes/svg/search') }}
    </button>
  </div> #}

</nav>

{# purgecss: hover:text-white hover:text-black hover:text-teal hover:text-night hover:text-froly hover:text-valencia hover:text-sand #}